{% extends "./layout.html" %} {% block body %}

<body
  style="
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMs0481OaVLNCwKQbCqaAvh4XTL6SopFvJUrDRNthMnEGoQEe9HbRdT5RbcNd8Gb1fh34&usqp=CAU;');
  "
>
  <div class="card mt-5 d-flex h-100 ">
    <h5 class="card-title text-center m-2">Sobre Nosotros</h5>
    <div class="card-body m-4">
      <p class="card-text">
        Cartones Yaguarete S.A. con más de 40 años en el Paraguay es la firma
        líder en: diseño, fabricación y comercialización de planchas y envases
        de cartón corrugado para el mercado local y de exportación. La firma
        establecida en el Paraguay en el año 1978 emplea a más de 150
        colaboradores y cuenta con más de 200 clientes a los que abastece a
        través de dos plantas corrugadoras ubicadas estratégicamente en Luque y
        Ciudad del Este, con una capacidad de producción instalada de 4.000.000
        m2 por mes, que cumplen con los más altos estándares de cuidado del
        medio ambiente.
      </p>
      <p class="card-text">
        Así mismo la empresa cuenta con una plataforma diversificada de
        troqueladoras y terminadoras que permiten dar la impresión de alta
        calidad a las cajas así como cumplir con los parámetros claves de cada
        uno de los segmentos de negocios donde se emplean nuestros embalajes,
        como ser frigoríficos, tabacaleras, alimentos, cosméticos, bebidas,
        productos agrícolas y otros. Con un presupuesto anual de inversiones y
        mantenimiento contínuo, un programa de desarrollo de talento para sus
        colaboradores y una renovada flota propia de vehículos, Cartones
        Yaguarete S.A. asegura a sus clientes productos de alta calidad, la
        mejor atención personalizada y una capacidad de servicio y entrega líder
        en los mercados en que opera.
      </p>
      <p class="card-text">
        NUESTRA POLITICA DE CALIDAD - En Cartones Yaguareté S.A. diseñamos.
        fabricamos y comercializamos soluciones de embalajes de cartón corrugado
        para el mercado local y de la región. - Buscamos posicionarnos como
        lideres en el mercado satisfaciendo las necesidades de nuestros
        clientes. - Estamos comprometidos con el cumplimiento de todos los
        requisitos que enmarquen nuestras actividades en la mejora continua. -
        Para lograrlo, contamos con colaboradores calificados y comprometidos
        con esta política.
      </p>
    </div>
  </div>
</body>

{% endblock %}
