{% extends "./layout.html" %} {% block body %}

<div class="card m-2 d-flex h-100">
  <div class="card-body">
    <h5 class="card-title text-center">Carrito</h5>
    <div class="card-text">
      <ul>
        <li>P1</li>
        <li>P1</li>
        <li>P1</li>
      </ul>
    </div>
    <h6 class="me-4" style="text-align:right">TOTAL = $ 1234567</h6>
    <div class="d-flex justify-content-end">
      <a href="#" class="btn btn-primary m-2">Vaciar Carrito</a>
      <a href="#" class="btn btn-primary m-2">Finalizar compra</a>
    </div>
  </div>
</div>
{% endblock %}
